.tab {
  padding: 10px 15px;
  text-align: center;
  width: 120px;
  background: #ecf0f1;
  cursor: pointer;
  display: inline-block;
}

.delete-icon {
  position: relative;
  top: -6px;
  left: 20px;
  padding: 5px;
}

.delete-icon img {
  width: 10px;
  height: 10px;
}
